body{
    background-color: #333;
    color: #f5f5f5;
    font-size: 22px;
}
table, tr, th, td, caption{
    border: 1px solid #eee;
    font-family: 'Times New Roman', Times, serif;
    padding: 0.5rem;
    border-collapse: collapse;
}